@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: "Open Sans", sans-serif !important;
}
:root {
  --primary: #85a019;
  --secondery: #fabe4c;
  --txt-color: #4f516b;
}
body {
  color: var(--txt-color);
  overflow-x: hidden !important;
}
/* custom css button  */
#button {
  background-color: var(--primary);
}
#button:hover {
  background-color: #4f5f0f;
}
.custom-line-height {
  line-height: 1.5rem;
}

/* @media only screen and (min-width: ) */
@media only screen and (max-width: 767px) {
  .custom-order {
    display: flex;
    flex-direction: column-reverse !important;
  }
}
/* @media only screen and (min-width: ) */
